*.csv
*.asv
readtfile/
mTintCore/
behaVid/
someFigures/
refPaperCode/
circstat-matlab/
zifredder-CircHist-1b93f32/
.ipynb_checkpoints
inpaint_nans.m
notebook1.ipynb
inpaint_nans.m
gauss2D.m
opex_setup.ipynb
+LFP/detectRipples.m
simulations\simdata.mat
*.mat
measures\distance_measures/
optimization/examples/

